{{> head}}
{{> navbar}}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Hello, {{capitalizar nombre}}</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dolores saepe labore voluptates. Vero
                est similique pariatur perferendis earum reprehenderit, tempore excepturi veniam necessitatibus fugit
                tenetur. Ab cum corrupti atque.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/54.gif" class="img-thumbnail">
        </div>
    </div>
</div>
{{> footer}}